$base-color: #2196F3;

$success-color:#4CAF50;
$error-color: #FF5722;
$info-color: #9E9E9E;


/* ----- nav and logo ----*/
.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 55px;
}

nav .brand-logo{
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}


.page-title{
    font-size: 2rem;
    text-align: center;
    padding: 3rem 2rem;
    font-family: 'Russo One', sans-serif;
}

.app-container{
    width: 95%;
    margin: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav{
    background-color: $base-color;
}

nav ul li>a.active {
    background-color: rgba(0,0,0,0.1);
}


/* Modals */
.text-center{
    text-align: center
};

button.MuiButton-root{
    border-radius: 0;
}

.full-width .MuiPaper-root {
    width: 100%;
}

button.MuiButton-root:focus{
    background: #d5d5d5;
}

// toast messages
.message-info>.MuiSnackbarContent-root{
        background: $info-color;
}
.message-success>.MuiSnackbarContent-root{
    background: $success-color;
}
.message-error>.MuiSnackbarContent-root{
    background: $error-color;
}

.MuiButtonBase-root.primary-btn, .primary-btn, button.MuiButton-root.primary-btn:focus, button.MuiFab-primary:hover{
    background: $base-color;
    color: #ffffff;
}

.MuiButtonBase-root.warning-btn, .warning-btn, button.MuiButton-root.warning-btn:focus, button.warning-btn.MuiButton-root:hover{
    background: $error-color;
    color: #ffffff;
}

.no-margin {
    margin: 0 !important;
}

.margin-md-bottom{
    margin-bottom: 2rem;
}
    
.full-width{
    width: 100%;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: none;
    box-shadow: none;
}
input[type=text]:not(.browser-default){
    border: none;
}